<section class="container">

  <h1 class="middle-line">Dashboard</h1>

  <div class="row mt-5">

    <div class="mb-3 my-md-0 col-md-12">
      <div routerLink="/admission-documents" class="card shadow-effect">
        <div class="card-body text-center">
          <h1><i class="bi bi-file-earmark-text"></i></h1>
          <h2 class="">Admission Documents</h2>
          <p class="fs-5">Manage Admission Documents</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5 mt-md-5">
    <div class="mb-3 my-md-0 col-md-4">
      <div routerLink="/warehouses" class="card shadow-effect box">
        <div class="card-body text-center">
          <h1><i class="bi bi-building-fill"></i></h1>
          <h2 class="">Warehouses</h2>
          <p class="fs-5">Manage Warehouses</p>
        </div>
      </div>
    </div>

    <div class="mb-3 my-md-0 col-md-4">
      <div routerLink="/commodities" class="card shadow-effect box">
        <div class="card-body text-center">
          <h1><i class="bi bi-boxes"></i></h1>
          <h2 class="">Commodities</h2>
          <p class="fs-5">Manage Commodities</p>
        </div>
      </div>
    </div>

    <div class="mb-3 my-md-0 col-md-4">
      <div routerLink="/suppliers" class="card shadow-effect">
        <div class="card-body text-center">
          <h1><i class="bi bi-truck"></i></h1>
          <h2 class="">Suppliers</h2>
          <p class="fs-5">Manage Suppliers</p>
        </div>
      </div>
    </div>

  </div>

</section>