<section class="container">

  <h1 class="middle-line">Admission Documents</h1>

  <div class="my-3">
    <div class="row justify-content-end ">
      <a routerLink="new" class="col-4 btn btn-success mx-2">Create New</a>
    </div>

    <ng-container *ngIf="documents;else no_documents">
      <table class="table table-dark table-hover table-bordered mt-3">
        <thead class="thead-sticky">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Target Warehouse</th>
            <th scope="col">Supplier</th>
            <th scope="col">Commodities</th>
            <th scope="col">Labels</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documents; let i = index">
            <td scope="row">{{doc.id}}</td>
            <td>
              <span *ngIf="doc.targetWarehouse">{{doc.targetWarehouse.name}} {{doc.targetWarehouse.symbol}}</span>
              <span *ngIf="!doc.targetWarehouse" class="text-warning">no target warehouse</span>
            </td>
            <td>
              <span *ngIf="doc.supplier">{{doc.supplier.companyName}}</span>
              <span *ngIf="!doc.supplier" class="text-warning">no supplier</span>
            </td>
            <td>
              <div class="d-flex justify-content-evenly">
                <div class="btn-group" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                    Show ({{doc.commodityList.length}})
                    <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let commodity of doc.commodityList;let i = index" role="menuitem">
                      <button class="dropdown-item" [routerLink]="['/commodities/edit',commodity.id]"
                        [queryParams]="{returnUrl:'/admission-documents'}" [disabled]="doc.approved">
                        {{i+1}} - <span class="text-info">{{commodity.name}}</span>
                        quantity:<span class="text-info"> {{commodity.quantity}}</span>
                        price: <span class="text-warning">{{commodity.price|currency}}</span>
                      </button>
                    </li>
                    <li *ngIf="doc.commodityList.length==0 && !doc.approved" role="menuitem">
                      <a class="text-warning dropdown-item" [routerLink]="['/commodities/new']"
                        [queryParams]="{returnUrl:'/admission-documents','document-id':doc.id}">
                        Add New
                      </a>
                    </li>
                  </ul>
                </div>
                <button [disabled]="doc.approved"  class="btn btn-success mx-2" type="button" [routerLink]="['/commodities/new']"
                  [queryParams]="{returnUrl:'/admission-documents','document-id':doc.id}">
                  Add
                </button>
              </div>
            </td>
            <td>
              <span *ngFor="let label of doc.labels">
                <span class="badge bg-secondary">{{label.name}}</span>
                <br>
              </span>
            </td>
            <td>
              <div *ngIf="!doc.approved && !doc.canceled" class="d-flex justify-content-evenly">
                <a [routerLink]="['/admission-documents/edit',doc.id]" class=" btn btn-info">Edit</a>
                <a (click)="approve(doc)" class=" btn btn-success">Approve</a>
                <a (click)="cancel(doc)" class=" btn btn-warning">Cancel</a>
              </div>
              <div *ngIf="doc.approved || doc.canceled" class="d-flex justify-content-evenly">
                <span *ngIf="doc.approved" class="fs-4 badge bg-success">
                  Approved <i class="bi bi-file-earmark-check-fill"></i>
                </span>
                <span *ngIf="doc.canceled" class="fs-4 badge bg-warning">
                  Canceled <i class="bi bi-file-earmark-x-fill"></i>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #no_documents>
      <div class="alert alert-primary mt-5" role="alert">
        No documents!
      </div>
    </ng-template>

    <div class="row justify-content-start">
      <a routerLink="" class="col-4 mx-2 btn btn-secondary">Back</a>
    </div>

  </div>
</section>